.portfolio {
    .portfolio__header {
        text-align: center;
        color: #fff;
        font-family: Caveat;
        font-size: 50px;
        line-height: 55px;
        font-weight: normal;
        margin-bottom: 0px;
        text-shadow: rgb(255, 255, 255) 0px 1px 1px;
        margin-bottom: 12px;
    }
    .about {
        .about__img {
            display: flex;
            justify-content: center;
            img {
                width: 150px;
                height: 150px;
                margin: 0 auto;
                border-radius: 50%;
                display: block;
            }
        }
        .about__para {
            text-align: center;
            padding: 10px 25px;
            color: #fff;
            font-size: 20px;
            line-height: 35px;
            width: 80%;
            @media (max-width: 768px) {
                width: 90%;
            }
            margin: 0 auto;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                border-color: #cf6679;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                color: #fff;
                background-color: #cf6679;
                text-decoration: none;
                width: 120px;
                margin: 8px auto;
                .anticon {
                    padding: 0 6px;
                }
                &:hover {
                    box-shadow: 0 5px 15px #cf66797d;
                }
            }
        }
    }
    .career {
        width: 100%;
        overflow: hidden;
        padding: 0 20px;
        .ant-timeline-item-content {
            h3,
            h4 {
                font-weight: 600;
            }
            h3,
            h4,
            h5 {
                color: #fff;
            }
        }
        .ant-timeline-item-head {
            background: #1a1a1d;
            .anticon svg {
                color: #fff;
            }
        }
        .ant-timeline-item-tail {
            border-left: 1px dashed #fff;
        }
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        .skills__box {
            min-height: 200px;
            background: #1a1a1d;
            border-radius: 16px 16px 0 0;
            color: #fff;
            min-width: 30%;
            margin: 10px 1.66%;
            &:hover {
                transform: translateY(-8px);
                transition: all 0.2s ease-out;
            }
            @media (max-width: 768px) {
                width: 47%;
                margin: 10px 1.5%;
            }
            @media (max-width: 450px) {
                width: 90%;
                margin: 10px 5%;
            }
            .skills__head {
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                padding: 10px;
                background: #242425;
                color: #fff;
                border-radius: 16px 16px 0 0;
            }
            ul {
                margin: 10px;
                color: #1a1a1d;
                font-size: 18px;
                color: #fff;
                li {
                    list-style-type: circle;
                    padding: 4px;
                }
            }
        }
    }
}
